.sliderBar{
  width: 300px;
  height: 100%;
  background-color: #fafafa;
  animation: sliderBarShow 2s ease-in-out infinite;
}

@keyframes sliderBarShow{
  from{
    width: 0;
  }
  
  to{
    width: 300px;
  }
}