/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  margin-bottom: 0;
}

/* html{
  overflow: hidden;
}

p{
  margin-bottom: 0;
} */


/* button, [type='button'], [type='reset'], [type='submit']{
  background:#1890ff;
} */

